ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;

  white-space: nowrap;
}

li {
  text-align: center;
  transition: 300ms;
  padding: 10px;
  border-radius: 5px;
  background-color: cornsilk;
}
li:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 300ms linear;
}

li p {
  margin-top: 5px;
  font-weight: bold;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}
